<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dardev.collegekart">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"   android:maxSdkVersion="21"  />
    <uses-permission android:name="android.permission.INTERNET" />


    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ck"
        android:label="CK"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity
            android:name=".MainActivity"
           >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity android:name=".CardViewActivity" />
        <activity android:name="com.gun0912.tedpicker.ImagePickerActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".UserProfileActivity"
            android:label="@string/title_activity_user_profile" >
        </activity>
        <activity
            android:name=".NewAdActivity"
            android:label="@string/title_activity_new_ad" >
        </activity>
        <activity
            android:name=".HistoryActivity"
            android:label="@string/title_activity_history" >
        </activity>
        <activity
            android:name=".BuyRequestsActivity"
            android:label="@string/title_activity_buy_requests" >
        </activity>
        <activity
            android:name=".EditProfileActivity"
            android:label="@string/title_activity_edit_profile" >
        </activity>
        <activity
            android:name=".ViewAdActivity"
            android:label="@string/title_activity_view_ad" >
        </activity>
    </application>

</manifest>
